{% load static %}

<footer>
    <a href="" target="_blank" rel="noopener" aria-label="LinkedIn - Opens in a new tab" >
        <img src="{% static '/icons/linkedin-app-icon.svg'%}" alt="LinkedIn icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab" >
        <img src="{% static 'icons/ig-instagram-icon.svg'%}" alt="Instagram icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="X - Opens in a new tab" >
        <img src="{% static 'icons/alphabet-x-icon.svg'%}" alt="X icon" class="social-icon">
    </a>
        <a href="" target="_blank" rel="noopener" aria-label="Youtube - Opens in a new tab" >
        <img src="{% static 'icons/youtube-color-icon.svg'%}" alt="Youtube icon" class="social-icon">
    </a>
</footer>